//------------------------------------------------------------------------------
// Dark Theme Surface Values
//------------------------------------------------------------------------------

$body-bg:              #1a1d23;
$body-color:           #e4e6eb;

$alt-bg:               #23262d;
$table-bg-hover:       #2d313a;
$sidebar-bg:           #14161a;
$sidebar-muted-text:   #adb5bd; // was $gray-500
$droppable-bg:         #2d313a;
$navbar-light-bg:      $alt-bg;
$navbar-light-border:  #34383f;

$theme-colors-override: (
  light: #495057, // equivalent to $gray-700
  dark:  #e9ecef  // equivalent to $gray-200
);
